doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(charset='utf-8')
  base(href='/')
  title HTML Scrabble
  meta(name='DC.title' content='HTML Scrabble')
  meta(name='description' content='A simple Scrabble clone made with HTML, CSS, JavaScript, and some server-side code to handle multiplayer games.')
  meta(name='DC.subject' content='A simple Scrabble clone made with HTML, CSS, JavaScript, and some server-side code to handle multiplayer games.')
  meta(name='author' content='Daniel Weck')
  meta(name='DC.creator' content='Daniel Weck')
  meta(name='Copyright' content='Open Source code, LGPL license')
  meta(name='Copyright' content='SCRABBLE[tm] is a registered trademark. All intellectual property rights in and to the game are owned in the U.S.A and Canada by Hasbro Inc., and throughout the rest of the world by J.W. Spear & Sons Limited of Maidenhead, Berkshire, England, a subsidiary of Mattel Inc. This web page and associated experiments are not associated with any of the owners.')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes')

  style
    include css/common.css
  style
    include css/game.css
  script(src='/dist/i18n.js')
  script(type='text/javascript' src='/javascript/MochiKit/MochiKit.js')
  script(type='text/javascript' src='/javascript/underscore.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script(type='text/javascript' src='javascript/jquery-1.7.2.js')
  script(type='text/javascript' src='javascript/jquery.cookie.js')
  script(type='text/javascript' src='javascript/jquery.blockUI.js')
  script(type='text/javascript' src='javascript/jquery-css-transform.js')
  script(type='text/javascript' src='javascript/jquery-animate-css-rotate-scale.js')
  script(type='text/javascript' src='javascript/jquery-ui-1.8.21.custom.min.js')
  script(type='text/javascript' src='javascript/browserDetect.js')
  script(type='text/javascript' src='javascript/icebox.js')
  script(type='text/javascript' src='javascript/scrabble.js')
  script(type='text/javascript' src='javascript/dictionary.js')
  script(type='text/javascript' src='javascript/ui.js')
  script(type='text/javascript' src='javascript/game.js')
  style(type='text/css' media='all').
    .cnotie {display: block}
a#githubforkbanner(href='https://github.com/hanshuebner/html-scrabble' target='_new')
  img(style='position: absolute; top: 0; right: 0; border: 0; z-index: -1' src='images/forkme_right_gray_6d6d6d.png' alt='Fork me on GitHub')
audio#yourturn(src='audio/yourturn.wav' preload='auto' type='audio/wav')
audio#applause(src='audio/applause.wav' preload='auto' type='audio/wav')
#container
  #controls
    #log
    #scoreboard
    #chat
      #chatLog
        div Chat
      #messageInput
        input(name='message')
    #whosturn
    #turnControls
      #move
      #swapRack.tableDivWrap.bottomShade
      #turnButtons
    #dictionary
  #boardWrap
    #board.tableDivWrap.surroundShade
    #timer
    #rack.tableDivWrap.bottomShade
    #letters.tableDivWrap(style='display:none;')
  #blankLetterRequester
    button Saisir la lettre joker
    |           ou
    #blankLetterRequesterSkip
      button laisser vide
  // Load React.
  // Note: when deploying, replace "development.js" with "production.min.js".
  script(src='https://unpkg.com/react@16/umd/react.development.js' crossorigin='')
  script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js' crossorigin='')
  // Load our React component.
  script(src='javascript/react-output/dictionary.js')
  script(src='javascript/react-output/timer.js')
